[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=data_management
Exec=data_management
Name=data_management
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=data_management
